/* CSS USES SELECTORS AND DECLARATION BLOCKS */

/* STYLING ALL ELEMENTS WITHIN THE HTML BODY */
body {
    background-color: grey;
}

/* UNDERSTANDING THE BOX-MODEL */
.box {
    height: 100px;
    width: 100px;
    padding: 20px;
    margin: 50px;
    border: 10px solid blueviolet;
    background-color: greenyellow; 
}


/* COLOURS CAN BE SPECIFIED USING PREDEFINED COLOUR NAMES or RGB, HEX, 
HSL, RGBA, HSLA values. */

/*===================================================================================================================================================

/* MARGINS FOR EACH SIDE OF AN ELEMENT
-----------------------------------------

    All margin properties can have the following values:

    auto - the browser calculates the Margins

    length - specifies a margin in px, pt, cm

    % - specifies a margin in % of the width of the containing element

    inherit - specifies that the margin should be inherited from the parent element */


    /* margin-top */


    /* margin-right */


    /* margin-bottom */


    /* margin-left */



/*===========================================================================================================================================*/


/* PADDING
-------------

    Padding is used to create space around an elements content, inside of any defined borders.

    With CSS, you have full control over the padding.  There are properties for setting the padding for each side of an element(top, right, bottom and left)

    /* padding-top */

    /* padding-right */

    /* padding-bottom */

    /* padding-left */

/*===========================================================================================================================================*/

/* BORDERS
-------------------

    The CSS border properties allow you to specify the style, width and color of an elements border. */

    /* dotted - Defines a dotted border */

    /* dashed - Defines a dashed border */

    /* solid - Defines a solid border */

    /* double - Defines a double border */

    /* groove - Defines a 3D grooved border.  The effect depends on the border-color value */

    /* ridge - Defines a 3D ridged border.  The effect depends on the border-color value */

    /* inset - Defines a 3D inset border.  The effect depends on the border-color value */

    /* outset - Defines a 3D outset border.  The effect depends on the border-color value */

    /* none - Defines no border */

    /* hidden - Defines a hidden border */


/*===========================================================================================================================================*/

