/*=============================[CSS GRID]=====================================*/

/* IMPORTING A GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');

/* STYLING THE BODY */
body {
  background: rgb(12, 135, 235)
}

/*STYLING ALL <h2> ELEMENTS */
h2 {
  color: white;
  font-family:'Segoe UI';
  font-size: 50px;
  text-align: center;
  text-decoration: underline;
}

.container {
  display: grid;
  height: 100vh;
  justify-content: center;
  align-content: center;
  margin: 0;
  grid-template-columns: 200px 300px 200px;
  grid-gap: 10px;
  font-family: 'Poppins', sans-serif;
  
}

.container > div {
  padding: 40px;
  background: #f14668;
  text-align: center;
  font-size: 32px;
  border-radius: 10px;
}

.container > div:nth-child(odd) {
  background: #ffd880;
}

div.one {
  grid-column: 1 / 4;
  border: 4px solid black;
}

div.two {
  border: 4px solid black;
}

div.three {
  grid-column: 2 / 3;
  grid-row: 2 / 4;
  border: 4px solid black;
}

div.four {
/*   grid-column: 1 / 3; */
border: 4px solid black;
}

div.five {
  grid-row: 3 / 5;
  border: 4px solid black;
}

div.six {
  border: 4px solid black;
}

div.seven {
  grid-column: 2 / 4;
  border: 4px solid black;
}

div.eight {
  grid-column: 1 / 3;
}