/*==========================================================[CSS GRID]================================================================================*/


/*=====[IMPORTANT NOTES]==============================================================================================================================

- display: grid;
- grid-template-columns:
- grid-template-rows:
- grid-gap:

- GRID ITEMS => GRID ITEMS ARE DIRECT CHILDREN OF THE GRID CONTAINER 
- GRID TRACKS => ROWS AND COLUMNS 
- CELLS AND AREAS
- NUMBERS ARE LABELLED BASED ON LINES AND NOT COLUMNS
- GRIDS CAN BE NESTED
- CSS GRID CAN BE USED WITH FLEXBOX

- THE GRID ITSELF EXISTS IN CSS AND NOT IN THE HTML DOM
- THE GRID ITSELF CANNOT BE STYLED 



/*=====[IMPORTING A GOOGLE FONT]=====================================================================================================================*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
body {
    background: rgb(12, 135, 235)
}

h2 {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
}


/*=====[STYLING THE GRID]=================================================================================================================================*/

div.grid-container {
    display: grid;
    /* THIS DEFINES THE DIV AS A GRID CONTAINER */
    grid-template-columns: 200px 300px 200px;
    /* DEFINING WIDTH OF COLUMNS */
    grid-gap: 10px;
    /* DEFINING THE SPACING BETWEEN DIFFERENT TRACKS */
    height: 100vh;
    justify-content: center;
    /* DEFINING HOW THE GRID-ITEMS ARE ALIGNED WITHIN THE CONTAINER */
    align-content: center;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}


/* STYLING THE GRID ITEMS */

div.grid-container>div {
    padding: 40px;
    background: rgb(165, 18, 165);
    text-align: center;
    font-size: 32px;
    border-radius: 10px;
}


/* STYLING THE GRID ITEMS WITH AN ODD CLASS NUMBER */

div.grid-container>div:nth-child(odd) {
    background: lime;
}


/* USING SHORTHAND LINE-POSITIONING TO STYLE GRID TRACKS*/


/* NOTE: THE VALUE BEFORE THE / IS THE START LINE AND THE VALUE AFTER IS */


/* THE END LINE */

div.one {
    grid-column: 1 / 4;
    /* DRAWN FROM COLUMN LINE 1 TO COLUMN LINE 4 */
    border: 4px solid black;
    /* ADDING A BORDER */
}

div.two {
    border: 4px solid black;
    /* ADDING A BORDER */
}

div.three {
    grid-column: 2 / 3;
    /* DRAWN FROM COLUMN LINE 2 TO COLUMN LINE 3 */
    grid-row: 2 / 4;
    /* DRAWN FROM ROW LINE 2 TO ROW LINE 4 */
    border: 4px solid black;
    /* ADDING A BORDER */
}

div.four {
    /*   grid-column: 1 / 3; */
    border: 4px solid black;
    /* ADDING A BORDER */
}

div.five {
    grid-row: 3 / 5;
    border: 4px solid black;
    /* ADDING A BORDER */
}

div.six {
    border: 4px solid black;
    /* ADDING A BORDER */
}

div.seven {
    grid-column: 2 / 4;
    border: 4px solid black;
    /* ADDING A BORDER */
}

div.eight {
    grid-column: 1 / 4;
    border: 4px solid black;
    /* ADDING A BORDER */
}


/*=====[EXPLICIT VS IMPLICIT]==========================================================================================================================

EXPLICIT GRID => YOU DEFINE ALL PROPERTIES, ROWS, AND COLUMNS

IMPLICIT GRID => SOME PROPERTIES ARE DEFINED AUTOMATICALLY BY THE BROWSER



/*============================[NOTES]===================================================================================================================


/* DEFINING WIDTH DIMENSIONS OF GRID TRACKS 


/* - grid-template-columns: 


/* - grid-template-rows: 


/* grid-template-columns: 100px 100px 100px 


/* THIS CAN ALSO BE WRITTEN AS FOLLOWS: 


/* grid-template-columns: repeat(3, 100px) 


/* GRIDS CAN BE NESTED 


/* GUTTERS REFER TO THE GAPS OR SPACING BETWEEN ROWS AND COLUMNS 


/* DEFINING GUTTERS 


/* - row-gap: 


/* - column-gap: 


/* A GRID CELL IS THE SMALL UNIT ON A GRID 



/* - UNLIKE FLEXBOX, GRID ALLOWS FOR ELEMENETS TO INTENSIONALLY BE OVERLAPPED 
/* - FOR EXAMPLE, PLACING A CAPTION ON AN IMAGE WITH A TRANSPARENT BACKGROUND 



============================================================================================================================================================*/