.boxa { background:#1abc9c;}
.boxb { background:#3498db;}
.boxc { background:#9b59b6;}
.boxd { background:#34495e;}
.boxe { background:#f1c40f;}
.boxf { background:#e67e22;}
.boxg { background:#e74c3c;}
.boxh { background:#bdc3c7;}
.boxi { background:#2ecc71;}
.boxj { background:#16a085;}

.container2 {
    display: flex; /* OCCUPIES THE ENTIRE WIDTH OF THE SCREEN */
    flex: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;   
}

.box2 {
    width: 33.333%;
    color: white;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif; 
    text-align: center;
} 

.boxd {
    align-self: flex end;
}



.container3 {
    display: flex; /* OCCUPIES THE ENTIRE WIDTH OF THE SCREEN */
    flex-wrap: wrap;
    flex-direction: column;
    /* min-height: 100vh; */
    height: 100vh;
    border: 12px solid rgb(250, 109, 132);
}

.box3 {
    color: white;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif; 
    text-align: center;
    flex-basis: 150px; 
    flex-grow: 1;
} 

.boxaa { 
    background:#2bd6b4;
}

.boxbb { 
    background:#0f66a0;
    flex-grow: 5;
}

.boxcc { 
    background:#b230e6;
}

.boxdd { 
    background:#e4d721;
    flex-basis: 100px;
}





/*---------------------------------------------------------------------

JUSTIFY CONTENT VALUES:
- FLEX-START (DEFAULT)
- FLEX-END
- CENTER


- A PACKAGE.JSON FILE IS USED TO TRACK DEPENDENCIES AND PLUGINS AS WELL 
AS VERSIONS WHICH NEED TO BE INSTALLED
- IT IS CREATED WITH "NPM INIT" ON THE CLI



---------------------------------------------------------------------*/



