/* APPLING BORDER-BOX SIZING FOR THE BOX-SIZE OF THE DOM */
* {
    box-sizing: border-box;
}

/* STYLING ALL OF THE BOXES TO MAKE THEM VISIBLE */
.box {
    order: 1;
    width: calc(33.33333% - 10px);
    padding: 10px;
    margin: 5px;
    color: white;
    font-size: 100px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
    text-align: center;
} 

/* STYLING EACH INDIVIDUAL FLEX ITEM */
.box1 { background:#1abc9c;}
.box2 { background:#3498db;}
.box3 { background:#9b59b6;}
.box4 { background:#34495e;}
.box5 { background:#f1c40f;}
.box6 { background:#e67e22;}
.box7 { background:#e74c3c;}
.box8 { background:#bdc3c7;}
.box9 { background:#2ecc71;}
.box10 { background:#16a085;}

.container {
    display: flex; /* OCCUPIES THE ENTIRE WIDTH OF THE SCREEN */
    flex-direction: row; /* FLEX-DIRECTION SPECIFIES THE DIRECTION OF THE MAIN-AXIS */
    flex-wrap: wrap;
    border: 8px solid purple;
    height: 100vh; /* APPLIES A HEIGHT OF 100% OF THE VIEW-PORT */
    
}

/* STYLING EACH ROW */
.row {
    display: flex;
    flex-wrap: wrap;
}

.column {
    margin: 15px;
}


/*----------[NOTES]-------------------------------------------------------- 

- FLEXBOX CAN CREATE ROWS OR COLUMNS BUT NOT BOTH AT THE SAME TIME
- USING FLEX-BASIS AS OPPOSED TO WIDTH
- MAIN AXIS GOES FROM L TO R (BY DEFAULT)
- CROSS-AXIS GOES FROM T TO B (BY DEFAULT)

FLEX-DIRECTION:
- ROW (DEFAULT VALUE: MAIN AXIS GOES FROM L TO R)
- ROW-REVERSE (MAIN AXIS GOES FROM R TO L)
- COLUMN (MAIN AXIS GOES FROM T TO B)
- COLUMN-REVERSE (MAIN AXIS GOES FROM B TO T)

- FLEX: 1 => THIS CAUSES THE FLEX ITEMS TO OCCUPY THE WIDTH OF THE WINDOW

ORDERING FLEX ITEMS:
- EACH ITEM HAS A DEFAULT VALUE OF 0
- A VALUE THAT IS > 0 WILL PLACE THE ITEM AT THE END OF THE CONTAINER 
- THIS HELPS FOR RESPONSIVE DESIGN BETWEEN MOBILE AND DESKTOP


-------------------------------------------------------------------------*/



