/*========[SPLITTING INTO COLUMNS WITHOUT USING FLOAT]==========================================================================================================================*/

body {
    background-color: gray;
}

.columns-nofloat {
    background-color: beige;
    height: 400px;
    width: 75%;
    margin: auto;
    padding: 40px;
    border: 5px solid black;
}

.columns-nofloat p {
    text-align: justify;
    column-count: 3;
    column-gap: 100px;
    column-rule: 5px dashed red;
}

h1 {
    color: red;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* USING THE CSS TEXT STROKE FEATURE TO ADD AN OUTLINE */
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}


/*===============================================================================================================================================================================*/